<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>GC sheet scratch card</title>
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="container" id="js-container">
  <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
  <form class="form" style="visibility: hidden;">
    <center>
    <h2>Congratulations!</h2>
    <div>
      <h3>You have won <br><code id="prize",color="red"><%= prize %></code><br> applicable on your next purchase.</h3>
    </div>
    <div>
      <h3>नोट : जीती हुई धनराशि अगली खरीदारी पर मान्य |</h3>
    </div>
  </center>
  </form>  
</div>

<div class="token">
  <form method="post" action="/saveToken">
  	<label for="custName">Name</label>
  	<input type="text" name="custName" id="custName"></br>
  	<label for="token">Token</label>
  	<input type="text" name="token" id="token" value="<%=tokenNo%>">
   	<input type="hidden" name="prize" id="prize" value="<%=prize%>">
    <input type="submit" value="Submit" />
  </form>  
</div>

  <script src='/js/main.js'></script>
  
</body>
</html>